<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/boggle.css">
</head>
<body>
    <table class="board">
        <tbody>
          {% for row in board %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

  
    <p>
        Score: <b class="score">0</b>
        Seconds Left: <b class="timer"></b>
    </p>

    <form method="POST" class="add-word">
        <input name="word" class="word" autofocus>
        <button>Enter</button>
    </form>   

    <div class="msg">

    </div>

    <ul class="words">
       
    </ul>

    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script> 
</body>
</html>